@font-face {
  font-family: 'Verano Sans';
  src: url('../fonts/VeranoSans-Regular.ttf');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Verano Sans';
  src: url('../fonts/VeranoSans-SemiBold.ttf');
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Verano Sans';
  src: url('../fonts/VeranoSans-ExtraBold.ttf');
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Verano Sans';
  src: url('../fonts/VeranoSans-Black.ttf');
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('../fonts/Spectral-Regular.ttf');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('../fonts/Spectral-Medium.ttf');
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('../fonts/Spectral-SemiBold.ttf');
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('../fonts/Spectral-Bold.ttf');
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.ttf');
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.ttf');
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.ttf');
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel-Regular.ttf');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
