$font-family: 'Verano Sans';
$second-family: 'Spectral';
$third-family: 'Inter';
$font3: 'Cinzel';

$main-colors-accent: #002664;
$main-colors-dark: #181818;
$main-colors-white: #f8f8f8;
$white: #fff;
$dark-grey: #232323;
$secondary-colors-grey: #b1b1b1;
$secondary-colors-grey-2: #dedede;
$secondary-colors-accent-2: #e42222;
