.map {
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__title {
    max-width: 800px;
  }
  &__item {
    iframe {
      border-radius: 25px;
      width: 100%;
      height: 542px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .map__info {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
  .map__item iframe {
    height: 372px;
  }
}

@media only screen and (max-width: 900px) {
  .map__item iframe {
    height: 316px;
  }
}

@media only screen and (max-width: 600px) {
  .map__info {
    gap: 30px;
    margin-bottom: 30px;
  }
}
